/*
===========================
RESET CSS==================
===========================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Roboto',Tahoma, Arial, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  clear: both; }

#hline {
  width: 150px; }

a {
  text-decoration: none; }

.line {
  width: 300px;
  height: 1px;
  border-top: 1px solid #a9a9a9;
  margin: 20px auto; }

section .services .ser-text, .clients .ser-text, .articles .ser-text {
  width: 300px;
  height: auto;
  margin: 20px auto;
  text-align: center; }
  section .services .ser-text h1, .clients .ser-text h1, .articles .ser-text h1 {
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 29.3pt;
    color: #838383;
    font-weight: bold; }
  section .services .ser-text p, .clients .ser-text p, .articles .ser-text p {
    font-size: 10pt;
    font-weight: bold;
    color: #838383; }

footer .about .line-ft {
  width: 200px;
  height: 1px;
  border-top: 1px solid #6c6d6a;
  margin: 10px 0px; }

footer .form .line-ft, footer .our-info .line-ft {
  width: 300px;
  height: 1px;
  border-top: 1px solid #6c6d6a;
  margin: 10px 0px; }

/* 
==================HEADER==================
==========================================
 */
.wrap-header {
  width: 960px;
  height: 85px;
  background-color: #fff;
  margin: 10px auto; }
  .wrap-header header {
    width: 100%;
    height: auto; }
    .wrap-header header .logo {
      width: 100px;
      height: auto;
      float: left;
      padding-left: 60px;
      margin-top: 20px; }
    .wrap-header header .content-header {
      width: 800px;
      height: auto;
      float: right;
      margin-top: 22px; }
      .wrap-header header .content-header .contact {
        width: 100%;
        height: auto;
        padding-bottom: 5px; }
        .wrap-header header .content-header .contact ul {
          width: auto;
          height: 20px;
          float: right;
          margin-top: 15px;
          padding-right: 10px; }
          .wrap-header header .content-header .contact ul li {
            width: 190px;
            height: 20px;
            float: left;
            margin-left: 20px;
            text-align: right; }
          .wrap-header header .content-header .contact ul a {
            width: 90px;
            height: 20px;
            /*font-weight: bold;*/
            color: #a9a9a9;
            font-size: 10.3pt; }
          .wrap-header header .content-header .contact ul span {
            padding-right: 10px;
            width: 10px;
            height: 10px; }
      .wrap-header header .content-header nav {
        width: auto;
        height: 30px;
        float: right; }
        .wrap-header header .content-header nav ul {
          width: 100%;
          height: auto; }
          .wrap-header header .content-header nav ul li {
            width: auto;
            float: left;
            height: 20px;
            text-align: center;
            padding: 5px 5px; }
            .wrap-header header .content-header nav ul li a {
              width: auto;
              height: 20px;
              line-height: 20px;
              font-size: 13px;
              color: #a9a9a9;
              padding: 10px;
              font-weight: bold; }
            .wrap-header header .content-header nav ul li:hover {
              background-color: #00a2ed;
              border-radius: 15px; }
            .wrap-header header .content-header nav ul li:hover a {
              color: #fff; }
          .wrap-header header .content-header nav ul .icon a {
            width: 20px;
            height: 20px;
            padding: 5px;
            /* padding-left: 10px; */ }
          .wrap-header header .content-header nav ul .icon:hover {
            background-color: transparent; }

/* 
==================END -- HEADER==================
==========================================
 */
section {
  margin-top: 10px; }
  section .slider {
    width: 960px;
    height: auto;
    position: relative; }
    section .slider ul {
      width: 100%;
      height: auto; }
      section .slider ul li {
        list-style: none;
        z-index: 1; }
        section .slider ul li .slide-img {
          display: none; }
    section .slider .text-info {
      position: absolute;
      z-index: 999;
      right: 10px;
      top: 180px; }
      section .slider .text-info h1 {
        width: 470px;
        font-size: 18.86pt;
        font-weight: bold;
        color: #fff;
        float: right;
        padding-right: 15px; }
      section .slider .text-info p {
        width: 470px;
        font-size: 14.86pt;
        font-weight: bold;
        color: #fff;
        float: right;
        padding-right: 10px;
        margin-top: 10px; }
  section .services {
    margin: 10px auto;
    text-align: center; }
    section .services ul {
      width: 100%;
      height: auto; }
      section .services ul li {
        width: 300px;
        height: auto;
        float: left;
        list-style: none;
        padding: 10px;
        margin-top: 5px; }
        section .services ul li .image {
          width: 200px;
          height: 150px;
          background-size: cover;
          margin: 10px auto;
          background: url(../images/moblie.gif) no-repeat center; }
        section .services ul li h3 {
          font-size: 14pt;
          padding: 5px;
          color: #838383;
          font-weight: bold; }
        section .services ul li p {
          font-size: 11pt;
          padding: 5px;
          color: #838383;
          margin-bottom: 15px; }
        section .services ul li a {
          font-size: 10pt;
          padding: 8px;
          color: #fff;
          background-color: #00a2ed;
          border-radius: 8px;
          cursor: pointer;
          outline: none;
          text-decoration: none; }

.clients {
  margin: 10px auto;
  text-align: center; }
  .clients ul {
    width: 100%;
    height: auto; }
    .clients ul li {
      width: 100px;
      height: 100px;
      float: left;
      list-style: none;
      padding: 10px 15px;
      margin: 10px 30px; }

.articles ul {
  width: 900px;
  height: auto;
  margin: 0px auto; }
  .articles ul li {
    width: 255px;
    height: 255px;
    float: left;
    list-style: none;
    padding: 7px;
    margin: 15px 15px; }
    .articles ul li h3 {
      text-transform: uppercase;
      font-size: 13.3pt;
      color: #626262;
      padding: 5px 0px;
      font-weight: bold; }
    .articles ul li p {
      font-size: 9.86pt;
      color: #626262;
      padding: 5px 0px; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
footer {
  background-color: #323232;
  width: 100%;
  height: 450px;
  margin-top: 23px; }
  footer .arrows {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    margin: 0px auto; }
  footer .about {
    margin-top: 40px;
    padding: 10px 40px;
    width: 190px;
    height: auto;
    float: left; }
    footer .about h1 {
      font-size: 14.86pt;
      color: #fff;
      font-weight: bold; }
    footer .about p {
      font-size: 10.5pt;
      font-weight: bold;
      margin-top: 20px;
      color: #fff; }
  footer .form {
    padding: 10px 0px;
    margin-top: 40px;
    width: 335px;
    float: left; }
    footer .form h1 {
      text-transform: uppercase;
      font-size: 14.86pt;
      color: #fff;
      font-weight: bold; }
    footer .form .form-contact {
      width: 100%;
      height: auto;
      margin: 15px 0px; }
      footer .form .form-contact p {
        text-transform: capitalize;
        color: #6c6d6a; }
      footer .form .form-contact .input-form .name .first-name {
        width: 114px;
        float: left; }
        footer .form .form-contact .input-form .name .first-name input {
          width: 110px;
          height: 25px; }
      footer .form .form-contact .input-form .name .last-name {
        width: 193px;
        float: right;
        padding-top: 16px;
        margin-right: 18px; }
        footer .form .form-contact .input-form .name .last-name input {
          width: 189px;
          height: 25px;
          /* padding-left: 10px; */ }
      footer .form .form-contact .input-form .email {
        margin: 15px 0px;
        width: 100%; }
        footer .form .form-contact .input-form .email input {
          width: 313px;
          height: 25px; }
      footer .form .form-contact .input-form .comment {
        width: 100%;
        margin: 15px 0px; }
        footer .form .form-contact .input-form .comment textarea {
          width: 311px;
          height: 70px; }
      footer .form .form-contact .input-form .submit {
        width: 320px;
        height: auto;
        margin: 15px 0px; }
        footer .form .form-contact .input-form .submit input {
          padding: 5px 15px;
          color: #000000;
          font-weight: bold; }
  footer .our-info {
    padding: 10px 0px;
    margin-top: 40px;
    width: 350px;
    float: right; }
    footer .our-info h1 {
      text-transform: uppercase;
      font-size: 14.86pt;
      color: #fff;
      font-weight: bold; }
    footer .our-info .map iframe {
      padding-top: 10px;
      width: 330px;
      height: 225px; }
    footer .our-info .map img {
      margin-top: 10px; }
    footer .our-info p {
      padding: 10px 0px;
      color: #d4d4d4;
      font-size: 8pt;
      font-weight: bold; }

/*# sourceMappingURL=style.css.map */
